*{
    margin: 0%;
    /* color: white; */
}
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}
.video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.head{
    background: black;
    opacity: 0.5;
    padding: 20px;
}
.head h1{
    display: inline-block;
    margin-left: 80px;
}
.head h1 a{
    text-decoration: none;
    color: white;
    font-size: 50px;
}
.head ul{
    /* display: inline-block; */
    float: right;
    margin-right: 40px;
}
.head ul li{
    display: inline-block;
    margin: 12px;
}
.head ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.intro{
    margin-top: 150px;
    margin-left: 100px;
    opacity: 0.75;
    display: inline-block;
}
.intro h1{
    color: white;
    font-size: 100px;
    /* display: inline-block; */
}
.intro p{
    color: white;
    font-size: 30px;
    display: inline-block;
}
.dp{
    float: right;
}
.dp img{
    width: 410px;
    margin-top: 70px;
    margin-right: 60px;
    /* opacity: 0.9; */
}
.about{
    border: 2px solid white;
    border-radius: 25px;
    width: 70%;
    height: 100%;
    margin: 100px auto 0 auto;
    padding: 20px;
    background: #1a2d4b;
    color: white;
    opacity: 0.8;
    text-align: justify;
}
.contact{
    border: 2px solid white;
    border-radius: 25px;
    width: 70%;
    margin: 100px auto 0 auto;
    padding: 20px;
    background: #1a2d4b;
    opacity: 0.8;
}
.contact h1{
    color: white;
    font-size: 40px;
}
.input div input{
    padding: 15px;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 20px;
    width: 90%;
    font-style: italic;
}
.message textarea{
    /* height: 45px; */
    margin-top: 20px;
    width: 90%;
    padding: 15px;
    border: 2px solid white;
    border-radius: 20px;
    font-style: italic;
    font-size: 14px;
}
.send input{
    align-content: center;
    justify-content: center;
    width: 40%;
    padding: 9px;
    margin-top: 20px;
    border: 2px solid white;
    background: #1a2d4b;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}
.portfolio{
    border: 2px solid white;
    border-radius: 25px;
    width: 76%;
    height: 100%;
    margin: 100px auto 0 auto;
    padding: 20px;
    background: #1a2d4b;
    color: white;
    opacity: 0.8;
    text-align: justify;
    position: absolute;
    margin-left: 140px;
}
.post{
    width: 1020px;
    /* min-height: 50px; */
    /* background: #fff; */
    margin: 230px auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    position: relative;
    width: 320px;
    height: 240px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}
.box:hover .post-s{
    width: 320px;
}
.box img{
    display: block;
    width: 320px;
    height: 240px;
}
.post-s{
    width: 0px;
    height: 240px;
    background: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.7s ease;
}
.post-s h2 a{
    text-decoration: none;
    color: #fff;
}